body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

select, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}
